<div id="PPMiniCart">
  <form method="post" class="minicart-empty" action="#" target="">
    <button type="button" class="minicart-closer">×</button>
    <ul></ul>
    <div class="minicart-footer">
      <p class="minicart-empty-text">Your shopping cart is empty</p>
    </div>
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1" />
    <input type="hidden" name="bn" value="MiniCart_AddToCart_WPS_US" />
  </form>
</div>

<!--  ----------------------------------------------------------------------------------------- -->
<div id="PPMiniCart">
  <form method="post" class="" action="#" target="">
    <button type="button" class="minicart-closer">×</button>
    <ul>
      <li class="minicart-item">
        <div class="minicart-details-name">
          <a class="minicart-name" href="http://127.0.0.1:5500/index.html"
            >basmati rise</a
          >
          <ul class="minicart-attributes">
            <li>
              Discount: $1.00
              <input type="hidden" name="discount_amount_1" value="1" />
            </li>
          </ul>
        </div>
        <div class="minicart-details-quantity">
          <input
            class="minicart-quantity"
            data-minicart-idx="0"
            name="quantity_1"
            type="text"
            pattern="[0-9]*"
            value="1"
            autocomplete="off"
          />
        </div>
        <div class="minicart-details-remove">
          <button type="button" class="minicart-remove" data-minicart-idx="0">
            ×
          </button>
        </div>
        <div class="minicart-details-price">
          <span class="minicart-price">$19.99</span>
        </div>
        <input type="hidden" name="item_name_1" value="basmati rise" />
        <input type="hidden" name="amount_1" value="20.99" />
        <input type="hidden" name="shipping_1" value="undefined" />
        <input type="hidden" name="shipping2_1" value="undefined" />
      </li>
      <li class="minicart-item">
        <div class="minicart-details-name">
          <a class="minicart-name" href="http://127.0.0.1:5500/index.html"
            >Pepsi soft drink</a
          >
          <ul class="minicart-attributes">
            <li>
              Discount: $1.00
              <input type="hidden" name="discount_amount_2" value="1" />
            </li>
          </ul>
        </div>
        <div class="minicart-details-quantity">
          <input
            class="minicart-quantity"
            data-minicart-idx="1"
            name="quantity_2"
            type="text"
            pattern="[0-9]*"
            value="1"
            autocomplete="off"
          />
        </div>
        <div class="minicart-details-remove">
          <button type="button" class="minicart-remove" data-minicart-idx="1">
            ×
          </button>
        </div>
        <div class="minicart-details-price">
          <span class="minicart-price">$39.00</span>
        </div>
        <input type="hidden" name="item_name_2" value="Pepsi soft drink" />
        <input type="hidden" name="amount_2" value="40" />
        <input type="hidden" name="shipping_2" value="undefined" />
        <input type="hidden" name="shipping2_2" value="undefined" />
      </li>
      <li class="minicart-item minicart-item-changed">
        <div class="minicart-details-name">
          <a class="minicart-name" href="http://127.0.0.1:5500/index.html"
            >Fortune Sunflower Oil</a
          >
          <ul class="minicart-attributes">
            <li>
              Discount: $1.00
              <input type="hidden" name="discount_amount_3" value="1" />
            </li>
          </ul>
        </div>
        <div class="minicart-details-quantity">
          <input
            class="minicart-quantity"
            data-minicart-idx="2"
            name="quantity_3"
            type="text"
            pattern="[0-9]*"
            value="1"
            autocomplete="off"
          />
        </div>
        <div class="minicart-details-remove">
          <button type="button" class="minicart-remove" data-minicart-idx="2">
            ×
          </button>
        </div>
        <div class="minicart-details-price">
          <span class="minicart-price">$19.99</span>
        </div>
        <input type="hidden" name="item_name_3" value="Fortune Sunflower Oil" />
        <input type="hidden" name="amount_3" value="20.99" />
        <input type="hidden" name="shipping_3" value="undefined" />
        <input type="hidden" name="shipping2_3" value="undefined" />
      </li>
    </ul>
    <div class="minicart-footer">
      <div class="minicart-subtotal">Subtotal: $78.98 USD</div>
      <button
        class="minicart-submit"
        type="submit"
        data-minicart-alt="undefined"
      ></button>
    </div>
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1" />
    <input type="hidden" name="bn" value="MiniCart_AddToCart_WPS_US" />
    <input type="hidden" name="business" value=" " />
    <input type="hidden" name="currency_code" value="USD" />
    <input type="hidden" name="return" value=" " />
    <input type="hidden" name="cancel_return" value=" " />
  </form>
</div>
